#custom-search-bars {
    margin-bottom: 5px;
}

#welcome-header {
    font-family: 'Bebas Neue', cursive;
}

#welcome-paragraph {
    padding-bottom: 2vh;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
}

nav .nav-wrapper {
    font-family: 'Oswald', sans-serif;
    
}
.btn {
    background-color: #25d4c3;
    margin-bottom: 8vh;
    
}
.row {
    margin-bottom: 0;
}
/* .nav-wrapper */